<nav class="main-navigation">
  <a routerLink="" class="logo pull-left">
    <img src="/assets/images/un_logo.png" width="25" alt="">
    <span class="name-explorer">NETWORK</span>
    <span class="name-eos">UMBALA</span> 
  </a>
  <div class="main-search">
    <i class="fal fa-search" (click)="searchGlobal(search)"></i>
    <input type="search" placeholder="Search by block, tx, account, address" [(ngModel)]="search" (keyup)="onKey($event)">
  </div>
  <ul class="pull-right main-nav-middle">
    <!--<li><button mat-button color="basic" routerLink="tokens" [ngClass]="{'nav-active': activeMenu() === '/tokens'}">Tokens</button></li>-->
    <!-- <li><button mat-button color="basic" routerLink="wallet" [ngClass]="{'nav-active': activeMenu() === '/wallet'}" class="mobile-no">wallet</button></li>
    <li><button mat-button color="basic" routerLink="vote" [ngClass]="{'nav-active': activeMenu() === '/vote'}" class="mobile-no">vote</button></li>
    <li><button mat-button color="basic" routerLink="analytics" [ngClass]="{'nav-active': activeMenu() === '/analytics'}">Analytics</button></li>
    <li><button mat-button color="basic" routerLink="ram" [ngClass]="{'nav-active': activeMenu()  === '/ram'}">Ram</button></li> -->
    <li><button mat-button color="basic" routerLink="producers" [ngClass]="{'nav-active': activeMenu()  === '/producers'}">Producers</button></li>
    <!--<li class="mobile-no"><button mat-button color="basic" routerLink="soon">API</button></li>-->
    <li>
        <a _ngcontent-c0="" href="https://twitter.com/UmbalaNetwork" class="telegram-button" target="_blank">
          <i _ngcontent-c0="" class="fab fa-twitter"></i>
        </a>
    </li>
  </ul>
</nav>

<main-tcustomize-charts></main-tcustomize-charts>

<router-outlet></router-outlet>

<simple-notifications [options]="options"></simple-notifications>

<footer>
  <div class="container">
  <ul class="pull-left">
       <!--<li><a routerLink="soon">API</a></li>-->
       <li><a href="https://github.com/UmbalaNetworkFoundation/umb-blockchain-explorer" target="_blank"><i class="fab fa-github"></i></a></li>
       <li><a href="http://fb.com/UmbalaNetwork" target="_blank"><i class="fab fa-facebook"></i></a></li>
       <!-- <li><a href="https://www.reddit.com/user/eosweb" target="_blank"><i class="fab fa-reddit-alien"></i></a></li> -->
       <li><a href="https://medium.com/umbalanetworkvn" target="_blank"><i class="fab fa-medium"></i></a></li>
       <li><a href="https://twitter.com/UmbalaNetwork" target="_blank"><i class="fab fa-twitter"></i></a></li>
       <li><a href="https://t.me/UmbalaNetwork" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
  </ul>
  <div class="pull-right">
    <a href="mailto:hello@umbala.network">Support: hello@umbala.network</a>
  </div>
   </div>
</footer>

